
.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
    /* this is for the message-box to place in the bottom */ 
    /* position: fixed; 
    bottom: 0;
    width: 100%; */
  }
  
  .input {
    border: none;
    padding: 5%;
    width: 80%;
    color: #5c34fa;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #F7F3E3 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #5c34fa;
    padding: 1.25rem;
    display: inline-block;
    border: none;
    width: 21%;
  }